
# Backend
fastapi
uvicorn
numpy
opencv-python
scipy
tensorflow
pillow
firebase-admin
python-multipart

# Frontend
next
react
axios

# Deployment & Utilities
docker
gunicorn
google-cloud-storage
streamlit
